@model form_1a.Models.Form_2A
@{
    ViewBag.Title = "form_2a";
}
<div>
    @{if (Model != null)
        {

            <div class="container">
                <div class="row">
                    <div class="row">
                        <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                            <div class="col-md-2 add-border return-button">
                                <i class="fa fa-angle-double-left"></i>
                                <i>Return to Menu</i>
                            </div>
                        </a>
                    </div>
                    <br />
                    
            <div class="col-md-12">
                <br />
                <p class="h3"><strong>Civil Registry Form No. 2A</strong></p>
                <p class="h4">(Death Available)</p>
                <br />
            </div>
                    <form id="myForm">

                        <div class="row add-border">
                            <div class="col-md-4">
                                <div class="col-md-12 add-border">
                                    <p class="h4"><strong>Transaction Details</strong></p><br />
                                    <div class="form-group">
                                        <label>Issued To</label>
                                        @Html.TextBoxFor(model => model.issued_to, new { @class = "form-control", @placeholder = "Issued To" })
                                    </div>
                                    <div class="form-group">
                                        <label>Officer Name</label>
                                        @Html.TextBoxFor(model => model.officer_name, new { @class = "form-control", @placeholder = "Officer Name" })
                                    </div>
                                    <div class="form-group">
                                        <label>Officer Title</label>
                                        @Html.TextBoxFor(model => model.officer_title, new { @class = "form-control", @placeholder = "Officer Title" })
                                    </div>
                                    <div class="form-group">
                                        <label>Verifier Name</label>
                                        @Html.TextBoxFor(model => model.verifier_name, new { @class = "form-control", @placeholder = "Verifier Name" })
                                    </div>
                                    <div class="form-group">
                                        <label>Verifier Title</label>
                                        @Html.TextBoxFor(model => model.verifier_title, new { @class = "form-control", @placeholder = "Verifier Title" })
                                    </div>
                                    <div class="form-group">
                                        <label>Amount Paid</label>
                                        @Html.TextBoxFor(model => model.payment, new { @class = "form-control", @placeholder = "Payment" })
                                    </div>
                                    <div class="form-group">
                                        <label>O.R. Number</label>
                                        @Html.TextBoxFor(model => model.or_no, new { @class = "form-control", @placeholder = "OR Number" })
                                    </div>
                                    <div class="form-group">
                                        <label>Date Paid</label>
                                        @Html.TextBoxFor(model => model.date_paid, new { @class = "datepicker form-control", @placeholder = "Date Paid", @id = "date_paid" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="col-md-12 add-border">
                                    <p class="h4"><strong>Form Details</strong></p><br />
                                    <div class="col-md-12 form-group">
                                        <label>Date</label>
                                        @Html.TextBoxFor(model => model.entry, new { @class = "form-control datepicker", @id = "entry" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>LCR Registry Number</label>
                                        @Html.TextBoxFor(model => model.lcr_reg_no, new { @class = "form-control", @placeholder = "LCR Registration Number", @id = "lcr_no" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Date of Registration</label>
                                        @Html.TextBoxFor(model => model.date_of_reg, new { @class = "datepicker form-control", @placeholder = "Date of Registration", @id = "date_of_reg" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Name of the Deceased</label>
                                        @Html.TextBoxFor(model => model.death_name, new { @class = "form-control", @placeholder = "Name of the Deceased" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Sex</label>
                                        @Html.TextBoxFor(model => model.sex, new { @class = "form-control", @placeholder = "Sex" })
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <hr class="solid" />
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label>Age</label>
                                        @Html.TextBoxFor(model => model.age, new { @class = "form-control", @placeholder = "Age" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Page</label>
                                        @Html.TextBoxFor(model => model.page, new { @class = "form-control", @placeholder = "Page Number" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Book Number</label>
                                        @Html.TextBoxFor(model => model.book, new { @class = "form-control", @placeholder = "Book Number" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Civil Status</label>
                                        @Html.TextBoxFor(model => model.civil_status, new { @class = "form-control", @placeholder = "Civil Status" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Citizenship</label>
                                        @Html.TextBoxFor(model => model.citizenship, new { @class = "form-control", @placeholder = "Citizenship" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Date of Death</label>
                                        @Html.TextBoxFor(model => model.date_of_death, new { @class = "datepicker form-control", @placeholder = "Date of Death", @id = "date_of_death" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Place of Death</label>
                                        @Html.TextBoxFor(model => model.place_of_death, new { @class = "form-control", @placeholder = "Place of Death" })
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Cause of Death</label>
                                        @Html.TextBoxFor(model => model.cause_of_death, new { @class = "form-control", @placeholder = "Cause of Death" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 pull-right button-margin">
                                <div class="col-md-12">
                                    <input type="Submit" value="Submit" class="btn btn-block btn-primary" id="btnSubmit" />
                                </div>
                                <div class="col-md-12">
                                    <input type="button" value="View PDF" class="btn btn-block btn-primary" id="btnViewPDF" style="display: none;" />
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>

        }
        else
        {

<div class="container">
    <div class="row">
        <div class="row">
            <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                <div class="col-md-2 add-border return-button">
                    <i class="fa fa-angle-double-left"></i>
                    <i>Return to Menu</i>
                </div>
            </a>
        </div>
        <br />

        <div class="col-md-12">
            <br />
            <p class="h3"><strong>Civil Registry Form No. 2A</strong></p>
            <p class="h4">(Death Available)</p>
            <br />
        </div>
        <form id="myForm">

            <div class="row add-border">
                <div class="col-md-4">
                    <div class="col-md-12 add-border">
                        <p class="h4"><strong>Transaction Details</strong></p><br />
                        <div class="form-group">
                            <label>Issued To</label>
                            @Html.TextBoxFor(model => model.issued_to, new { @class = "form-control", @placeholder = "Issued To" })
                        </div>
                        <div class="form-group">
                            <label>Officer Name</label>
                            @Html.TextBoxFor(model => model.officer_name, new { @class = "form-control", @placeholder = "Officer Name" })
                        </div>
                        <div class="form-group">
                            <label>Officer Title</label>
                            @Html.TextBoxFor(model => model.officer_title, new { @class = "form-control", @placeholder = "Officer Title" })
                        </div>
                        <div class="form-group">
                            <label>Verifier Name</label>
                            @Html.TextBoxFor(model => model.verifier_name, new { @class = "form-control", @placeholder = "Verifier Name" })
                        </div>
                        <div class="form-group">
                            <label>Verifier Title</label>
                            @Html.TextBoxFor(model => model.verifier_title, new { @class = "form-control", @placeholder = "Verifier Title" })
                        </div>
                        <div class="form-group">
                            <label>Amount Paid</label>
                            @Html.TextBoxFor(model => model.payment, new { @class = "form-control", @placeholder = "Payment" })
                        </div>
                        <div class="form-group">
                            <label>O.R. Number</label>
                            @Html.TextBoxFor(model => model.or_no, new { @class = "form-control", @placeholder = "OR Number" })
                        </div>
                        <div class="form-group">
                            <label>Date Paid</label>
                            @Html.TextBoxFor(model => model.date_paid, new { @class = "datepicker form-control", @placeholder = "Date Paid", @id = "date_paid" })
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="col-md-12 add-border">
                        <p class="h4"><strong>Form Details</strong></p><br />
                        <div class="col-md-12 form-group">
                            <label>Date</label>
                            @Html.TextBoxFor(model => model.entry, new { @class = "form-control datepicker", @id = "entry" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>LCR Registry Number</label>
                            @Html.TextBoxFor(model => model.lcr_reg_no, new { @class = "form-control", @placeholder = "LCR Registration Number", @id = "lcr_no" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Date of Registration</label>
                            @Html.TextBoxFor(model => model.date_of_reg, new { @class = "datepicker form-control", @placeholder = "Date of Registration", @id = "date_of_reg" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Name of the Deceased</label>
                            @Html.TextBoxFor(model => model.death_name, new { @class = "form-control", @placeholder = "Name of the Deceased" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Sex</label>
                            @Html.TextBoxFor(model => model.sex, new { @class = "form-control", @placeholder = "Sex" })
                        </div>
                        <div class="col-md-12 form-group">
                            <hr class="solid" />
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Age</label>
                            @Html.TextBoxFor(model => model.age, new { @class = "form-control", @placeholder = "Age" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Page</label>
                            @Html.TextBoxFor(model => model.page, new { @class = "form-control", @placeholder = "Page Number" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Book Number</label>
                            @Html.TextBoxFor(model => model.book, new { @class = "form-control", @placeholder = "Book Number" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Civil Status</label>
                            @Html.TextBoxFor(model => model.civil_status, new { @class = "form-control", @placeholder = "Civil Status" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Citizenship</label>
                            @Html.TextBoxFor(model => model.citizenship, new { @class = "form-control", @placeholder = "Citizenship" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Date of Death</label>
                            @Html.TextBoxFor(model => model.date_of_death, new { @class = "datepicker form-control", @placeholder = "Date of Death", @id = "date_of_death" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Place of Death</label>
                            @Html.TextBoxFor(model => model.place_of_death, new { @class = "form-control", @placeholder = "Place of Death" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Cause of Death</label>
                            @Html.TextBoxFor(model => model.cause_of_death, new { @class = "form-control", @placeholder = "Cause of Death" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 pull-right button-margin">
                    <div class="col-md-12">
                        <input type="Submit" value="Submit" class="btn btn-block btn-primary" id="btnSubmit" />
                    </div>
                    <div class="col-md-12">
                        <input type="button" value="View PDF" class="btn btn-block btn-primary" id="btnViewPDF" />
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>

        }
    }
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    var entryy = "";

    var optSimple = {
        format: 'mm-dd-yyyy',
        todayHighlight: true,
        orientation: 'bottom right',
        autoclose: true,
        inline: true,
    };

    $('.datepicker').datepicker(optSimple);
    $('#entry').datepicker('setDate', today);

    $(document).ready(function () {
        entryy = '@Request.Params["entry"]' || "";

        if (entryy != "") {

            $('#btnViewPDF').css('display', 'block');
        }


        $("#btnSubmit").click(function () {
            //debugger
            var data = $("#myForm").serialize();
            $.ajax({
                type: "POST",
                url: "/Home/Form_2a",
                data: data,
                success: function (response) {

                }
            })
        })
    })


    $('#btnViewPDF').click(function () {

        $.ajax({
            url: '/Home/GetLastPDFFilenameForm2A',
            type: 'get',
            success: function (data) {
                window.open("/OUTPUT_PDF/FORM_2A/" + data + ".pdf");
            }
        });


    });

    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    }

</script>
